.profile__heading{
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__heading{
    grid-template-columns: 1fr;
    padding: 0 28px;
    position: relative;
  }
}
